.tarefa {
  width: 100%;
  background: var(---gray-500);
  border: 1px solid var(---gray-400);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  

}

.tarefa:first-child {
  margin-top: 1rem;
}

.tarefa p {
  font: size 0.875em;
  line-height:1.18rem;
  color: var(---gray-100);
  margin-right: auto;
}

.tarefa button {
  background: var(---gray-500);
  border: none;
  color: var(---gray-300);

}
