* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Inter", sans-serif ;
}

:root {
  ---gray-100: #f2f2f2;




  ---gray-600:#1a1a1a;
}

body {
  min-height: 100vh;
  --webkit-font-smoothing: antialiased;
  background: var(---gray-600);
  color: var(---gray-100);
}

button {
  
  cursor: pointer;
}